<html>
    <head>
      
    </head>
    <body>
        <h2>Credit_Card_Model</h2>
        
        <form method="POST" action = '/predict' >
                
            <label for="LIMIT_BAL">LIMIT_BAL:</label><br>
            <input type="number" id="LIMIT_BAL" name="LIMIT_BAL" placeholder="LIMIT_BAL" required='required'><br>
            <label for="EDUCATION">EDUCATION:</label><br>
            <input type="number" id="EDUCATION" name="EDUCATION" placeholder="EDUCATION" required='required'><br>
            <label for="MARRIAGE">MARRIAGE:</label><br>
            <input type="number" id="MARRIAGE" name="MARRIAGE" placeholder="MARRIAGE" required='required'><br>
            <label for="PAY_0">PAY_0:</label><br>
            <input type="number" id="PAY_0" name="PAY_0" placeholder="PAY_0" required='required'><br>
            <label for="PAY_2">PAY_2:</label><br>
            <input type="number" id="PAY_2" name="PAY_2" placeholder="PAY_2" required='required'><br>
            <label for="PAY_3">PAY_3:</label><br>
            <input type="number" id="PAY_3" name="PAY_3" placeholder="PAY_3" required='required'><br>
            <label for="PAY_4">PAY_4:</label><br>
            <input type="number" id="PAY_4" name="PAY_4" placeholder="PAY_4" required='required'><br>
            <label for="PAY_3">PAY_3:</label><br>
            <input type="number" id="PAY_5" name="PAY_5" placeholder="PAY_5" required='required'><br>
            <label for="PAY_6">PAY_6:</label><br>
            <input type="number" id="PAY_6" name="PAY_6" placeholder="PAY_6" required='required'><br>
            <label for="PAY_AMT1">PAY_AMT1:</label><br>
            <input type="number" id="PAY_AMT1" name="PAY_AMT1" placeholder="PAY_AMT1" required='required'><br>
            <label for="PAY_AMT2">PAY_AMT2:</label><br>
            <input type="number" id="PAY_AMT2" name="PAY_AMT2" placeholder="PAY_AMT2" required='required'><br>
            <label for="PAY_AMT3">PAY_AMT3:</label><br>
            <input type="number" id="PAY_AMT3" name="PAY_AMT3" placeholder="PAY_AMT3" required='required'><br>
            <label for="PAY_AMT4">PAY_AMT4:</label><br>
            <input type="number" id="PAY_AMT4" name="PAY_AMT4" placeholder="PAY_AMT4" required='required'><br>
            <label for="PAY_AMT5">PAY_AMT5:</label><br>
            <input type="number" id="PAY_AMT5" name="PAY_AMT5" placeholder="PAY_AMT5" required='required'><br>
            <label for="PAY_AMT6">PAY_AMT6:</label><br>
            <input type="number" id="PAY_AMT6" name="PAY_AMT6" placeholder="PAY_AMT6" required='required'><br><br><br>


            <button type='submit'>Predict</button>
        </form>
       </form>
    </body>
</html>